################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/EASYPHONEMAPPER-c68a327a/EASYPHONEMAPPER-698584bb.ipch
