################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/EASYPHONEMAPPER-c68a327a/EASYPHONEMAPPER-698584bb.ipch
/ipch/EASYPHONEMAPPER-c68a327a
/EasyPhoneMapper.VC.VC.opendb
/EasyPhoneMapper.VC.db
/.vs/EasyPhoneMapper/v14
/EasyPhoneMapper/x64/Debug
/x64/Debug
/EasyPhoneMapper/x64/Release
/x64/Release
